<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録画面</title>
</head>
<body>

    <h1>新規アカウント作成</h1>
    
    <span th:if=""
 	th:each="" th:utext="" style="color: red"><br></span>

    <form action="/login/add" method="post">
        <table border="1">
            <tr>
                <th>名前（必須）</th>
                <td>
                    <input type="text" name="name"  th:value="${name}">
                </td>
            </tr>
        	<tr>
                <th>アカウント名</th>             
                <td>
                    <input type="text" name="" th:value="${}">
               </td>
          </tr>
            <tr>
                <th>電話番号（必須）</th>
                <td>
                    <input type="text" name="tel" th:value="${tel}">
                </td>
            </tr>
            <tr>
                <th>メールアドレス（必須）</th>
                <td>
                    <input type="text" name="email" th:value="${email}">
                </td>
            </tr>
            <tr>
                <th>パスワード（必須）</th>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>
        </table>
        <button>登録</button>
    </form>
    
    	<form action="/login" method="get">
		<button> 戻る</button>
		</form>
	</main>

</body>
</html>