<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規顧客登録</title>
	<link rel="stylesheet" type="text/css" href="/css/adminStyle.css">

</head>

<body>
	<header th:replace="adminHeader"></header>

	<h1>宿新規登録</h1>

	<form action="/admin/customer/add" method="post">
		<table border="1" align="center">

			<tr>
				<th>名前</th>
				<td><input type="text" name="hotelName">
				</td>
			</tr>
			<tr>
				<th>価格</th>
				<td><input type="text" name="price">
				</td>
			</tr>
			<tr>
				<th>所在地</th>
				<td><input type="text" name="address">
				</td>
			</tr>
			<tr>
				<th>Tel</th>
				<td><input type="text" name="hotelTel">
				</td>
			</tr>
			<tr>
				<th>宿情報</th>
				<td><input type="text" name="information">
				</td>
			</tr>
			<tr>
				<th>総部屋数</th>
				<td><input type="text" name="hotelRoom">
				</td>
			</tr>
			<tr>
				<th>参考画像</th>
				<td><input type="text" name="image">
				</td>
			</tr>

		</table>
		<br>
		<button>登録</button>
		<br>
		<a href="/admin/customer">前のページへ戻る</a>
	</form>
	<footer th:replace="adminFooter"></footer>
</body>

</html>