<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約変更</title>
</head>
<body>
	
<header th:replace="User_header"></header>

<table border="1" th:each="history:${history}">

<span th:replace="reserve"></span>

<form action="/reserve/change/fin">
<input type="number"  min="1" max="8">

 <input type="date">
 
 <select name="hour" id="hour">

  <option value="10">10:00</option>
  <option value="11">11:00</option>
  <option value="12">12:00</option>
  <option value="13">13:00</option>
  <option value="14">14:00</option>
  <option value="15">15:00</option>
  <option value="16">16:00</option>
  <option value="17">17:00</option>
  <option value="18">18:00</option>
  <option value="19">19:00</option>
  <option value="20">20:00</option>
  <option value="21">21:00</option>
  <option value="22">22:00</option>
  <option value="23">23:00</option>
</select>

	<input type="hidden" name="history" th:value="${history}">
	<button>更新</button>
</form>

<form action="/history">
	<input type="hidden" name="id" th:value="${@account.id}">
	<button>戻る</button>
</form>

</body>
</html>