<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>宿詳細</title>
</head>
<body>

	<table border="1">
		<tr>
			<th>名前</th>
			<th>値段</th>
	<!--	<th>日付</th>-->
	<!--	<th>人数</th>-->
	<!--	<th  th:if="${@account.id > 0}">お気に入り</th>-->
		</tr>
		<tr th:text="${customer.name}"></th>
			<td th:text="${customer.price}"></td>
	<!--	<td th:text="${}"></td>-->
	<!--	<td th:text="${}"></td>-->
	<!--	<td th:if="${@account.id > 0}">	-->
	<!--	<button>お気に入り追加</button>-->
	<!--	</td>-->

		</tr>
	</table>
			<form action="" method="">
					<button>予約</button>
			</form>
			
	
</body>
</html>