<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>宿情報画面</title>
	<link rel="stylesheet" type="text/css" href="/css/adminStyle.css">

</head>

<body>

	<header th:replace="adminHeader"></header>

	<h2>宿情報画面</h2>
	<a href="">宿新規追加</a>

	<table border="1" align="center">
		<tr>
			<th>宿名</th>
			<th>所在地(県名)</th>
			<th>情報更新</th>
			<th>情報削除</th>
		</tr>
		<tr th:each="customer:${customerList}">
			<td th:text="${customer.hotelName}"></td>
			<td th:text="${customer.address}"></td>
			<td>
				<form th:action="ここも決める" method="get">
					<button>更新</button>
				</form>
			</td>
			<td>
				<form th:action="ここも決める" method="post">
					<button>削除</button>
				</form>
			</td>

		</tr>
	</table>

	<footer th:replace="adminFooter"></footer>


</body>

</html>