<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約確定</title>
</head>
<body>
	<form action="/hotel/check" method="post">
		<table border="1">
			<header th:replace="User_header"></header>
			
			<tr>
				<th>人数</th>
				<th>時間</th>
				<th>日付</th>
				<th>Id</th>
				<th>ホテル名前</th>
				<th>価格</th>
				<th></th>
				
			</tr>
				<td th:text="${reservation.people}"></td>
				<td th:text="${reservation.time}"></td>
				<td th:text="${reservation.date}"></td>
				<td th:text="${reservation.userId}"></td>
				<td th:text="${reservation.id}"></td>
				<td th:text="${reservation.name}"></td>
				<td th:text="${reservation.price}"></td>
			</tr>
		</table>
		
		<h1>予約を確定します</h1>
		
			<button>確定</button>
	</form>
<form action="/" method="post">
	<button>戻る</button>
</form>
</body>
</html>