<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>クチコミ</title>
</head>

<body>
	<header th:replace="User_header"></header>

	<!--ホテル詳細	-->
	<table border="1">
		<tr>
			<th>宿名</th>
			<th>価格</th>
		</tr>
		<tr>
			<td th:text="${customer.hotelName}"></td>
			<td th:text="${customer.price}"></td>
		</tr>
	</table>
	<a th:href="@{/writeReviews(id=${customer.id})}">クチコミを投稿する</a>

	<!-- レビュー -->
	<span th:if="${starList}">
		<table border="1">
			<tr>
				<th>アカウント名</th>
				<th>評価</th>
				<th>内容</th>
			</tr>
			<tr th:each="star:${starList}">
				<td th:text="${star.accountName}"></td>
				<td th:text="${star.star}"></td>
				<td th:text="${star.evalue}">
			</tr>
		</table>
	</span>
	<p th:if="${message}" th:text="${message}"></p>
</body>
</html>