<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>クチコミ</title>
</head>

<body>
	<header th:replace="User_header"></header>

	<!--ホテル詳細	-->
	<table border="1">
		<tr>
			<th>宿名</th>
			<th>価格</th>
	
		</tr>
		<tr th:each="customer:${customer}">
			<td th:text="${customer.hotelName}"></td>
			<td th:text="${customer.price}"></td>
			
		</tr>
	</table>
	
	<a href="/writeReviews">クチコミを投稿する</a>


	<!-- レビュー -->
	<table border="1">
		<tr>
			<th>アカウント名</th>
			<td th:text="${User.accountName}">
			</td>
		</tr>
		<tr>
			<th>評価</th>
			<td th:text="${Star.star}">
			</td>
		</tr>
		<tr>
			<th>内容</th>
			<td th:text="${Star.evalue}">
		</tr>
	</table>
</body>

</html>