<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>宿情報更新</title>
	<link rel="stylesheet" type="text/css" href="/css/adminStyle.css">
</head>

<body>
	<header th:replace="adminHeader"></header>

	<h1>宿情報更新</h1>
	<form>
		<p>名前<input type="text"></p>
		<p>価格<input type="text"></p>
		<p>所在地<input type="text"></p>
		<p>Tel<input type="text"></p>
		<p>宿情報<input type="text"></p>
	</form>
	<button>更新</button>

	<footer th:replace="adminFooter"></footer>

</body>

</html>