<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>クチコミ書き込み</title>

</head>

<body>
	
	<header th:replace="User_header"></header>
	
	<form action="/" method="post">
		<table>
			<tr>
				<th>アカウント名</th>
				<td th:text="${User.accountName}"></td>
			</tr>
			<tr>
				<th>評価</th>
				<td>
						<input type="radio" id="star5" name="rating" value="5">
						<input type="radio" id="star4" name="rating" value="4">
						<input type="radio" id="star3" name="rating" value="3">
						<input type="radio" id="star2" name="rating" value="2">
						<input type="radio" id="star1" name="rating" value="1">
				</td>
			</tr>
			<tr>
				<th>内容</th>
				<td><textarea id="message" name="evalue" cols="50" rows="12" required></textarea></td>
			</tr>
		</table>

		<button>送信</button>

	</form>


</body>

</html>